<div class="sidebar-body">
  {% comment %} <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;"> {% endcomment %}
  <h1 style="font-size:1.5em;border-bottom:1px dashed;">
    <img class="icon" src="/assets/img/logo/logo_toga.svg">Silabus Kelas
  </h1>
  <div class="toc">
  <ul>
  {% assign posts = site.posts | sort | where_exp:"page", "page.permalink == '/python/:title'" %}
  {% for post in posts %}
  {% assign class = nil %}
  {% if page.url contains post.url %}
  {% assign class = 'current' %}
  {% endif %}
    <li style="list-style:none;margin-left:-20px;"><a href="{{ post.url }}" class="{{ class }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
  </div>
  <div style="margin:5px 0 5px 0;"></div>
  <p style="text-align:left;"><i>Masih dalam proses penulisan...</i></p>
</div>
