<header id="header" class="noselect">
  <div class="container container-strip">
    <div class="container-inner container-inner-strip">
    <div class="logo">
      <img src="/assets/img/logo/logo_bandithijo.png">
    </div>

    <div class="title">
      <h1><span class="nobr">BanditHijo.dev</span></h1>
    </div>
    <div class="description">
      <h2>Here's where I started writing some notes that someday <span class="nobr">I will call it, a book</span></h2>
      <br>
      <span class="emblem-f">TECHNICAL<span class="emblem-e">BLOG : JOURNAL</span></span>
    </div>

    <nav class="nav nav-strip">
      <div class="toggle">
        <div class="menu" onmouseover="this.style.cursor='pointer'" onclick="navBtn()">
          <span class="menu-title">BANDITHIJO</span>
          <img style="width:30px;" src="/assets/img/logo/logo_menu.svg" id="nav-btn">
        </div><!-- menu -->
      </div><!-- toggle -->
      <ul id="menu-ul">
        <li><a href="/">Home</a></li>
        {% for item in site.navigation %}
        {% assign class = nil %}
        {% if page.url contains item.url %}
        {% assign class = 'active' %}
        {% endif %}
        <li><a href="{{ item.url }}" class="{{ class }}">{{ item.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
    </div><!-- container-inner -->
  </div><!-- header container -->
</header>
