<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta name="author" content="{{ site.author }}">
  <meta name="description" content="{{ site.description }}">
  <meta name="keywords" content="{% if page.title and page.tags %}{{ page.tags | downcase | replace: '"', '' | replace: '[', '' | replace: ']', '' }}{% elsif page.title %}{{ site.keywords }}{% else %}{{ site.keywords }}{% endif %}">

  <title>{% if page.title %}{{ page.title | escape }} | {{ site.title }}{% else %}{{ site.title | escape }}{% endif %}</title>

  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="icon" href="/assets/images/favicon/favicon.png" type="image/png">
</head>
