<!-- Begin Mailchimp Signup Form -->
<link href="/assets/css/mailchimp-classic-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff;}
	/* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
  #mc_embed_signup form {
    padding: 10px 0 !important;
  }

  #mc_embed_signup .button {
    background-color: #008352;
  }

  #mc_embed_signup h2 {
    font-size: 32px !important;
    padding-bottom: .3em;
  }

  .mc-field-group {
    width: 100% !important;
    padding-bottom: 2% !important;
  }

  .mce-label {
    margin-bottom: 3% !important;
    font-size: 14px;
  }

  .mc-form {
    float: left;
    width: 50% !important;
  }

  .mc-text {
    float: right;
    font-size: 14px;
    width: 50%;
    padding: 5px 10px;
    text-align: justify;
  }

  @media (max-width: 640px) {
    .mc-field-group {
      width: 100% !important;
      padding-bottom: 4% !important;
    }

    .mc-form {
      float: none;
      width: 100% !important;
    }

    .mc-text {
      float: none;
      font-size: 14px;
      width: 100%;
      padding: 0;
    }

  {
</style>
<div id="mc_embed_signup">
  <form action="https://github.us4.list-manage.com/subscribe/post?u=68e5540d98defef56764f64df&amp;id=39ab92c3ed" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
      <h2>Berlangganan via Email</h2>
      <div class="mc-text">Jangan sampai ketinggalan kabar dan info terbaru mengenai BanditHijo.dev<br>Ayo bergabung!</div>
      <div class="mc-form">
        <div class="mc-field-group">
          <label class="mce-label"></label>
          <input type="email" value="" name="EMAIL" class="required email" id="mce-EMAIL" placeholder="Masukkan email di sini...">
        </div>
        <div id="mce-responses" class="clear">
          <div class="response" id="mce-error-response" style="display:none"></div>
          <div class="response" id="mce-success-response" style="display:none"></div>
        </div>    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_68e5540d98defef56764f64df_39ab92c3ed" tabindex="-1" value=""></div>
        <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
      </div>
    </div>
  </form>
</div>

<!--End mc_embed_signup-->
