<script type="text/javascript" src={{ "/assets/javascript/nav.js" | absolute_url }}></script>
<script type="text/javascript" src={{ "/assets/javascript/lazyload.js" | absolute_url }}></script>
<script type="text/javascript" src={{ "/assets/javascript/darkmode.js" | absolute_url }}></script>
<script type="text/javascript" src={{ "/assets/javascript/headings-permalink.js" | absolute_url }}></script>
<script type="text/javascript" src={{ "/assets/javascript/external-link-open-new-tab.js" | absolute_url }}></script>
