<script type="text/javascript" src="/assets/js/nav.js"></script>
<script type="text/javascript" src="/assets/js/lazyload.js"></script>
<script type="text/javascript" src="/assets/js/headings-permalink.js"></script>
{% if site.newsline == true %}
<script type="text/javascript" src="/assets/js/newsline-sticky.js"></script>
{% endif %}
{% if page.layout == 'post' %}
<script type="text/javascript" src="/assets/js/aside.js"></script>
{% endif %}
{% if page.layout == 'post' or page.layout == 'page' %}
<script type="text/javascript" src="/assets/js/enlarge-image-modal.js"></script>
{% endif %}
<script type="text/javascript" src="https://code.highcharts.com/highcharts.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/annotations.js"></script>
<script type="text/javascript" src="https://code.highcharts.com/modules/accessibility.js"></script>
