<aside class="sidebar noselect" id="sidebar-tail">
{% if page.permalink == '/blog/' %}
    {% include _sidebar/sidebar_outdated.html %}
    {% include _sidebar/sidebar_bantuan.html %}
    {% include _sidebar/tags/sidebar_tags_depan.html %}
    {% include _sidebar/dotfriends/sidebar_dotfriends.html %}
    {% include _sidebar/sidebar_rss_feed.html %}
{% elsif page.permalink == '/blog/:title' %}
    {% include _sidebar/sidebar_blog_terbaru.html %}
    {% include _sidebar/tags/sidebar_tags_depan.html %}
    {% include _sidebar/dotfriends/sidebar_dotfriends.html %}
    {% include _sidebar/sidebar_bantuan.html %}
    {% include _sidebar/sidebar_rss_feed.html %}
{% elsif page.permalink == '/note/' %}
    {% include _sidebar/sidebar_bantuan.html %}
    {% include _sidebar/sidebar_rss_feed.html %}
{% elsif page.permalink == '/note/:title' %}
    {% include _sidebar/sidebar_note_terbaru.html %}
    {% include _sidebar/tags/sidebar_tags_depan.html %}
    {% include _sidebar/sidebar_bantuan.html %}
    {% include _sidebar/sidebar_rss_feed.html %}
{% elsif page.permalink == '/vlog/' %}
    {% include _sidebar/sidebar_outdated.html %}
    {% include _sidebar/tags/sidebar_tags_depan.html %}
    {% include _sidebar/dotfriends/sidebar_dotfriends.html %}
    {% include _sidebar/sidebar_rss_feed.html %}
{% elsif page.permalink == '/vlog/:title' %}
    {% include _sidebar/sidebar_vlog_terbaru.html %}
    {% include _sidebar/sidebar_rss_feed.html %}
{% elsif page.permalink == '/python/:title' %}
    {% include _sidebar/sidebar_bantuan.html %}
{% elsif page.permalink == '/arch/:title' %}
    {% include _sidebar/sidebar_bantuan.html %}
{% elsif page.permalink == '/groups/' %}
    {% include _sidebar/groups/sidebar_groups_telegram.html %}
{% elsif page.permalink == '/about/' %}
    {% include _sidebar/sidebar_blog_terbaru.html %}
    {% include _sidebar/sidebar_rss_feed.html %}
{% endif %}
</aside>
