@font-face {
  font-family: "FiraCodeNerdFontComplete-Medium";

  src: url("/assets/fonts/fira_code_nerd_font/FiraCodeMediumNerdFont.woff2") format("woff2"); /* Modern Browsers */
  font-weight: normal;
  font-style: normal;
}
