{% comment %} <div class="sidebar-body" style="background-color: #FBD7D2;"> {% endcomment %}
<div class="sidebar-body">
  {% comment %} <h1 style="font-size:1.5em;border-bottom:1px dashed #CD9E97;margin-bottom:5px;"> {% endcomment %}
  <h1 style="font-size:1.5em;border-bottom:1px dashed;margin-bottom:5px;">
    <img class="icon" src="/assets/img/logo/logo_perhatian.svg">PERHATIAN
  </h1>
  <p>Mohon diperhatikan bahwa yang saya tulis di sini adalah catatan yang akan usang termakan waktu, maka dari itu apabila teman-teman nanti mendapatkan kesulitan, dapat langsung merujuk pada wiki atau dokumentasi resmi yang ditulis oleh pengembang. Karena tentu saja pengembang akan terus memperbaharui wiki atau dokementasi seiring berjalannya versi dari aplikasi yang mereka bangun. Tidak seperti catatan di blog saya ini.</p>
</div>
