<div class="sidebar-body">
  {% comment %} <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;margin-bottom:5px;"> {% endcomment %}
  <h1 style="font-size:1.5em;border-bottom:1px dashed;margin-bottom:5px;">
    <img class="icon" src="/assets/img/logo/logo_about_blog.svg">Tentang Blog
  </h1>
  {% comment %} <img class="post-body-img-sidebar" src="{{ site.lazyload.logo_blank }}" data-echo="/assets/img/cards/card_blog.svg" alt="logo"> {% endcomment %}
  <p>Blog ini adalah media online yang saya pergunakan untuk mendokumentasikan kegiatan belajar.</p>
  <p>Sebagian besar blog ini berisi catatan yang berhubungan dengan teknologi komputer. Seperti, sistem operasi GNU/Linux, jaringan komputer, bahasa pemrograman, basis data, review aplikasi dan konfigurasi tools serta hal-hal lain yang masih terkait dengan komputer.</p>
  {% if page.permalink != '/about/' %}
    {% comment %} <div style="margin:15px 0 10px 0;border-bottom:1px dashed #9E9E9E;"></div> {% endcomment %}
    <div style="margin:15px 0 10px 0;border-bottom:1px dashed;"></div>
    <p>Ingin tahu lebih lengkap tentang profil saya, dapat dibaca <a href="/about/"><b>di sini</b></a>.</p>
    <p>Terima kasih =P</p>
  {% endif %}
</div>
