<div class="sidebar-body">
  {% comment %} <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;margin-bottom:5px;"> {% endcomment %}
  <h1 style="font-size:1.5em;border-bottom:1px dashed;margin-bottom:5px;">
    <img class="icon" src="/assets/img/logo/logo_about_blog.svg">Tentang Note
  </h1>
  {% comment %} <img class="post-body-img-sidebar" src="{{ site.lazyload.logo_blank }}" data-echo="/assets/img/cards/card_blog.svg" alt="logo"> {% endcomment %}
  <p>Catatan ini adalah media online yang saya pergunakan untuk mendokumentasikan kegiatan belajar.</p>
  <p>Karena proses belajar yang tidak sekali waktu langsung selesai, namun saya cicil di waktu luang, maka saya merasa perlu untuk mendokumentasikan catatan, agar tidak hilang begitu saja.</p>
  <p>Saya mempublikasikan catatan untuk teman-teman pembaca Blog BaditHijo, agar dapat sama-sama kita manfaatkan.</p>
</div>
