<div class="sidebar-body">
  <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;margin-bottom:5px;">
    <img class="icon" src="/assets/img/logo/logo_about_blog.svg">Tentang PacmanEveryday
  </h1>
  <p><b>Idea:</b><br>
  Mulai 2022/08/17, saya akan melakukan perekaman layar berupa vlog (video log), untuk setiap proses system update di Arch Linux dengan menggunakan Pacman via Terminal, 1x setiap hari, selama 1 tahun (hingga 2023/08/17).</p>
  <p><b>Objective:</b><br>
  <ol style="margin-top:0;">
    <li>Apakah aman melakukan update system di Arch Linux setiap hari?</li>
    <li>Apakah Arch Linux adalah distro yang stabil untuk digunakan sehari-hari* sepanjang tahun?</li>
  </ol>
  </p>
  <p>*Pekerjaan sehari-hari saya:<br>
  Backend Engineer di perusahaan swasta, Jakarta (remote)</p>
  <p><b>Tools:</b><br>
  <ol style="margin-top:0;">
    <li>Text editor: <b>Neovim</b></li>
    <li>Browser: <b>Firefox</b></li>
    <li>API tester: <b>Postman</b></li>
    <li>Database management: <b>DBeaver Community</b></li>
    <li>Diagram Flowchart designer: <b>Drawio</b></li>
    <li>Team messenger: <b>Slack</b></li>
  </ol>
  </p>
  <p><b>Environment:</b><br>
  <ol style="margin-top:0;">
    <li>Laptop: ThinkPad X260 | Intel i5-6300U | RAM: 8GB | SSD: 450GB</li>
  </ol>
  </p>
  <p><b>Contact me:</b><br>
  Jika ada kritik dan saran, bisa melalui alamat email di bawah ini yaa.
  <ol style="margin-top:0;">
    <li>Email: {{ site.email }}</li>
  </ol>
  </p>
</div>
