<div class="sidebar-body">
  <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;">
    <img class="icon" src="/assets/img/logo/logo_terbaru.svg">Note Terbaru
  </h1>
  <div class="toc">
  <ul>
  {% assign posts = site.posts | where_exp:"page", "page.category == 'note'" %}
  {% for post in posts limit: 10 %}
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
  {% endfor %}
  </ul>
  </div>
  <div style="margin:10px 0 10px 0;border-bottom:1px dashed #9E9E9E;"></div>
  <p style="text-align:left;"><a style="border-bottom:0;" href="/vlog/"><b>Selengkapnya >></b></a></p>
</div>
