<div class="sidebar-body">
  <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;">Tentang log</h1>
  <img class="icon" class="post-body-img-sidebar" style="width:100px;" src="{{ site.lazyload.logo_blank }}" data-echo="/assets/img/cards/card_log.svg" alt="logo">
  <p>Halaman ini saya sediakan untuk mencatat perubahan-perubahan yang sudah saya lakukan kepada blog ini.</p>
  <div style="margin:15px 0 10px 0;border-bottom:1px dashed #9E9E9E;"></div>
  <p>Ingin tahu lebih lengkap tentang profil saya, dapat dibaca <a href="/about/">di sini</a>.</p>
  <p>Terima kasih =P</p>
</div>
