<div class="sidebar-body">
  {% comment %} <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;"> {% endcomment %}
  <h1 style="font-size:1.5em;border-bottom:1px dashed;">
    <img class="icon" src="/assets/img/logo/logo_tags.svg"><a style="border-bottom:none;" href="/tags/">Tags</a>
  </h1>
  <div class="toc">
    {% assign tag_list = site.tags | sort %}
    {% if tag_list.first[0] == null %}
      {% for tag in tag_list %}
        {% comment %}<span class="tags"><a href="/tags/#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ tag | camelcase }} ({{ site.tags.size }})</a></span>{% endcomment %}
        <span class="tags"><a href="/tags/#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ tag | camelcase }}</a></span>
      {% endfor %}
    {% else %}
      {% for tag in tag_list %}
        {% comment %}<span class="tags"><a href="/tags/#{{ tag[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ tag[0] | camelcase }} ({{ tag[1].size }})</a></span>{% endcomment %}
        <span class="tags"><a href="/tags/#{{ tag[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ tag[0] | camelcase }}</a></span>
      {% endfor %}
    {% endif %}
    {% assign tag_list = nil %}
  </div><!-- toc -->
</div><!-- sidebar-body -->
