#install-to-homescreen {padding: 7px 15px; display: none; text-align: center; position: fixed; bottom: 0px; left: 0px; width: 100%; background: #222; color: rgba(255,255,255,0.8); z-index: 99999;}
#install-to-homescreen a {cursor: pointer; margin-left: 10px;}
#install-to-homescreen img {display: inline-block; height: 15px; margin: 0 2px; position: relative;}
#install-to-homescreen img.share_img {height: 18px; bottom: 1px;}
@media (max-width: 1000px) {
    #install-to-homescreen span {display: block; padding-top: 3px; margin-bottom: 13px;}
    #install-to-homescreen a {position: relative; bottom: 4px;}
}
@media (max-width: 400px) {
    #install-to-homescreen br {display: none;}
}
