:root {
  --base03:  #002B36;
  --base02:  #073642;
  --base021: #264B54;
  --base01:  #586E75;
  --base00:  #657B83;
  --base0:   #839496;
  --base1:   #93A1A1;
  --base2:   #EEE8D5;
  --base3:   #FDF6E3;
  --yellow:  #B58900;
  --orange:  #CB4B16;
  --red:     #DC322F;
  --magenta: #D33682;
  --violet:  #6C71C4;
  --blue:    #268BD2;
  --cyan:    #2AA198;
  --green:   #859900;
}

.highlight .hll { background-color: var(--base3) }
/* .highlight  { background: var(--base03); color: var(--base0) } */
.highlight .c   { color: var(--base01); font-style: none } /* Comment */
.highlight .err { color: var(--red) } /* Error */
.highlight .g   { color: var(--base2) } /* Generic */
.highlight .k   { color: var(--green); font-weight: bold } /* Keyword */
.highlight .l   { color: var(--base2) } /* Literal */
.highlight .n   { color: var(--base2) } /* Name */
.highlight .o   { color: var(--base2) } /* Operator */
.highlight .x   { color: var(--base2) } /* Other */
.highlight .p   { color: var(--base2) } /* Punctuation */
.highlight .ch  { color: var(--base01); font-style: none } /* Comment.Hashbang */
.highlight .cm  { color: var(--base01); font-style: none } /* Comment.Multiline */
.highlight .cp  { color: var(--base01); font-style: none } /* Comment.Preproc */
.highlight .cpf { color: var(--base01); font-style: none } /* Comment.PreprocFile */
.highlight .c1  { color: var(--base01); font-style: none } /* Comment.Single */
.highlight .cs  { color: var(--base01); font-style: none } /* Comment.Special */
.highlight .gd  { color: var(--base0) } /* Generic.Deleted */
.highlight .ge  { color: var(--base0) } /* Generic.Emph */
.highlight .gr  { color: var(--base0) } /* Generic.Error */
.highlight .gh  { color: var(--base0) } /* Generic.Heading */
.highlight .gi  { color: var(--base0) } /* Generic.Inserted */
.highlight .go  { color: var(--base0) } /* Generic.Output */
.highlight .gp  { color: var(--base0) } /* Generic.Prompt */
.highlight .gs  { color: var(--base0); font-weight: bold } /* Generic.Strong */
.highlight .gu  { color: var(--base0) } /* Generic.Subheading */
.highlight .gt  { color: var(--base0) } /* Generic.Traceback */
.highlight .kc  { color: var(--green) } /* Keyword.Constant */
.highlight .kd  { color: var(--green) } /* Keyword.Declaration */
.highlight .kn  { color: var(--orange) } /* Keyword.Namespace */
.highlight .kp  { color: var(--orange) } /* Keyword.Pseudo */
.highlight .kr  { color: var(--green) } /* Keyword.Reserved */
.highlight .kt  { color: var(--green) } /* Keyword.Type */
.highlight .ld  { color: var(--base0) } /* Literal.Date */
.highlight .m   { color: var(--cyan) } /* Literal.Number */
.highlight .s   { color: var(--cyan) } /* Literal.String */
.highlight .na  { color: var(--base0) } /* Name.Attribute */
.highlight .nb  { color: var(--blue) } /* Name.Builtin */
.highlight .nc  { color: var(--blue) } /* Name.Class */
.highlight .no  { color: var(--yellow) } /* Name.Constant */
.highlight .nd  { color: var(--orange) } /* Name.Decorator */
.highlight .ni  { color: var(--orange) } /* Name.Entity */
.highlight .ne  { color: var(--orange) } /* Name.Exception */
.highlight .nf  { color: var(--blue) } /* Name.Function */
.highlight .nl  { color: var(--base0) } /* Name.Label */
.highlight .nn  { color: var(--yellow) } /* Name.Namespace */
.highlight .nx  { color: var(--base0) } /* Name.Other */
.highlight .py  { color: var(--blue) } /* Name.Property */
.highlight .nt  { color: var(--green) } /* Name.Tag */
.highlight .nv  { color: var(--orange) } /* Name.Variable */
.highlight .ow  { color: var(--green) } /* Operator.Word */
.highlight .w   { color: var(--base03) } /* Text.Whitespace */
.highlight .mb  { color: var(--cyan) } /* Literal.Number.Bin */
.highlight .mf  { color: var(--cyan) } /* Literal.Number.Float */
.highlight .mh  { color: var(--cyan) } /* Literal.Number.Hex */
.highlight .mi  { color: var(--cyan) } /* Literal.Number.Integer */
.highlight .mo  { color: var(--cyan) } /* Literal.Number.Oct */
.highlight .sa  { color: var(--cyan) } /* Literal.String.Affix */
.highlight .sb  { color: var(--cyan) } /* Literal.String.Backtick */
.highlight .sc  { color: var(--cyan) } /* Literal.String.Char */
.highlight .dl  { color: var(--cyan) } /* Literal.String.Delimiter */
.highlight .sd  { color: var(--cyan) } /* Literal.String.Doc */
.highlight .s2  { color: var(--cyan) } /* Literal.String.Double */
.highlight .se  { color: var(--orange) } /* Literal.String.Escape */
.highlight .sh  { color: var(--cyan) } /* Literal.String.Heredoc */
.highlight .si  { color: var(--orange) } /* Literal.String.Interpol */
.highlight .sx  { color: var(--cyan) } /* Literal.String.Other */
.highlight .sr  { color: var(--cyan) } /* Literal.String.Regex */
.highlight .s1  { color: var(--cyan) } /* Literal.String.Single */
.highlight .ss  { color: var(--cyan) } /* Literal.String.Symbol */
.highlight .bp  { color: var(--blue); font-weight: bold } /* Name.Builtin.Pseudo */
.highlight .fm  { color: var(--blue) } /* Name.Function.Magic */
.highlight .vc  { color: var(--blue) } /* Name.Variable.Class */
.highlight .vg  { color: var(--blue) } /* Name.Variable.Global */
.highlight .vi  { color: var(--blue) } /* Name.Variable.Instance */
.highlight .vm  { color: var(--orange) } /* Name.Variable.Magic */
.highlight .il  { color: var(--cyan) } /* Literal.Number.Integer.Long */
