<div class="sidebar-body">
  {% comment %} <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;">Daftar Kategori</h1> {% endcomment %}
  <h1 style="font-size:1.5em;border-bottom:1px dashed;">Daftar Kategori</h1>
  {% assign categories_list = site.categories %}
  {% if categories_list.first[0] == null %}
  {% for category in categories_list %}
  <p style="text-transform:capitalize;">+&nbsp;<a href="/category/#{{ category | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category | camelcase }} ({{ site.tags[category].size }})</a></p>
  {% endfor %}
  {% else %}
  {% for category in categories_list %}
  <p style="text-transform:capitalize;">+&nbsp;<a href="/category/#{{ category[0] | downcase | url_escape | strip | replace: ' ', '-' }}">{{ category[0] | camelcase }} ({{ category[1].size }})</a></p>
  {% endfor %}
  {% endif %}
  {% assign categories_list = nil %}
</div>
