---
layout: 'page'
title: 'Daftar Log: Blog'
author: 'BanditHijo'
permalink: '/blog/'
---

<div class="post-body noselect">

  <!-- PINNED POSTS -->
  {% comment %}
  {% assign pin = false %}<!-- change to false if no pinned post -->
  {% if pin == true %}
  <div style="clear:both;">
    <img class="post-header-img" src="/assets/img/logo/logo_pin.svg" style="width:35px;">
    <h3 class="post-header" style="font-size:2.5em;margin-bottom:0;">Pinned Post</h3>
  </div><!-- clear:both -->
  {% assign posts = site.posts | sort | where_exp:"page", "page.category == 'blog'" %}
  {% for post in posts reversed %}
  {% if post.pin == true  %}
    <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
    <p class="post-details-index-pin"><a href="{{ post.url }}">[&nbsp;{{ post.date | date: '%Y%m%d' }}&nbsp;]</a></p>
  {% elsif post.pin == nil %}
  {% endif %}
  {% endfor %}
  {% endif %}<!-- pin == true -->
  {% endcomment %}

  <div style="clear:both;margin-top:-10px;"></div><!-- matikan jika ada pinned post -->

  <!-- REGULAR POSTS -->
  {% assign postsByYear = site.posts | group_by_exp:"post", "post.date | date: '%Y'" %}
  {% for year in postsByYear %}
    <div style="clear:both;">
      <img class="post-header-img icon" src="/assets/img/logo/logo_cal.svg">
      <h3 class="post-header" style="font-size:2.5em;margin:40px 0 0 0;">&nbsp;{{ year.name }}</h3>
    </div><!-- clear:both -->
    <div style="clear:both;">
    {% for post in year.items %}
      {% if post.category == 'blog' and post.pin == nil %}
        {% if post.hot %}
          {% if post.description == nil %}
            <p class="post-title-index">+&nbsp;<a href="{{ post.url }}">{{ post.title }}</a></p>
            <div class="post-title-tags">
              {% assign tag_list = post.tags | sort %}
              {% for tag in tag_list %}
                <span class="tag"><a href="{{ site.url }}/tags/#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{tag}}</a></span>
              {% endfor %}
              <span class="hot">HOT</span>
            </div>
          {% else %}
            <p type="button" class="post-title-index collapsible-title">{{ post.title }}</p>
            <div class="content-title">
              <a href="{{ post.url }}">
                <p>{{ post.description }}</p>
              </a>
            </div>
            <div class="post-title-tags">
              {% assign tag_list = post.tags | sort %}
              {% for tag in tag_list %}
                <span class="tag"><a href="{{ site.url }}/tags/#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{tag}}</a></span>
              {% endfor %}
              <span class="hot">HOT</span>
            </div>
          {% endif %}
          <p class="post-details-index">[{{ post.date | date: '%Y%m%d' }}]</p>
        {% else %}
          {% if post.description == nil %}
            <p class="post-title-index"><a href="{{ post.url }}">+&nbsp;{{ post.title }}</a></p>
            <div class="post-title-tags">
              {% assign tag_list = post.tags | sort %}
              {% for tag in tag_list %}
                <span class="tag"><a href="{{ site.url }}/tags/#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{tag}}</a></span>
              {% endfor %}
            </div>
            <p class="post-details-index"><a href="{{ post.url }}">[{{ post.date | date: '%Y%m%d' }}]</a></p>
          {% else %}
            <p type="button" class="post-title-index collapsible-title">{{ post.title }}</p>
            <div class="content-title">
              <a href="{{ post.url }}">
                <p>{{ post.description }}</p>
              </a>
            </div>
            <div class="post-title-tags">
              {% assign tag_list = post.tags | sort %}
              {% for tag in tag_list %}
                <span class="tag"><a href="{{ site.url }}/tags/#{{ tag | downcase | downcase | url_escape | strip | replace: ' ', '-' }}">{{tag}}</a></span>
              {% endfor %}
            </div>
            <p class="post-details-index">[{{ post.date | date: '%Y%m%d' }}]</p>
          {% endif %}
        {% endif %}
      {% endif %}
    {% endfor %}
    </div><!-- clear:both -->
  {% endfor %}

  <div style="clear:both;">
  <img class="post-header-img icon" src="/assets/img/logo/logo_cal.svg">
  <h3 style="font-size:2.5em;margin:40px 0 0 0;">&nbsp;2012</h3>
  </div><!-- clear:both -->
  <div style="clear:both;">
  <p class="post-title-index" style="border-bottom:none;">+&nbsp;<span class="font-latin" style="font-size:16px;">Saya kehilangan semua tulisan di tahun ini, <span class="nobr">my bad  =(</span></span></p>
  </div><!-- clear:both -->

</div><!-- post-body -->

<script>
var coll = document.getElementsByClassName("collapsible-title");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
