---
layout: 'page'
title: 'Books'
permalink: '/books/'
---

<div class="mx-auto">
  <section class="grid grid-cols-1 md:grid-cols-3 gap-4">

    {% for book in site.data.books.books %}
    <!-- Book 1 -->
    <article class="bg-white dark:bg-neutral-900 rounded-lg border border-gray-900 dark:border-neutral-400 hover:border-dark dark:hover:border-neutral-400">
      <figure class="h-[490px] w-full overflow-hidden rounded-t-lg bg-zinc-200 dark:bg-neutral-800">
        <img src="/assets/pages/books/{{ book.cover }}" alt="cover" class="w-full h-full rounded-t-lg">
      </figure>
      <div class="h-30 p-4 flex-1 flex flex-col justify-between">
        <h2 style="margin-top:0;" class="text-lg font-semibold">{{ book.title }}</h2>
        <!-- <p class="text-base self-end">{{ book.description }}</p> -->
      </div>
      {% if book.wip %}
        <div class="p-2 border-t border-gray-300 dark:border-neutral-200 bg-gray-900 dark:bg-zinc-200 text-center rounded-b-lg">
          <span class="font-semibold text-white dark:text-dark">Work in Progress</span>
        </div>
      {% else %}
        <div class="p-2 border-t border-gray-300 dark:border-neutral-200 bg-gray-900 dark:bg-zinc-200 text-center rounded-b-lg">
          <span class="font-semibold text-white dark:text-dark">Download</span>
        </div>
      {% endif %}
    </article>
    {% endfor %}

  </section>
</div>
