@font-face {
    font-family:  'Give You Glory';
    src:          url('/assets/fonts/give_you_glory/Give-You-Glory.woff') format('woff');
    font-style:   normal;
    font-weight:  normal;
    font-stretch: normal;
    font-variant: normal;
}
