---
layout: baseof
permalink: :title
---

<section id="main">
  <div class="container noselect">
    <div class="container-edge-border">
      <article class="post" style="padding-top:3em;padding-bottom:0">
        <div class="post-body">
          {% include search.html %}
        </div>
      </article>

      <article class="homepage" style="padding-top:0;">
        <!-- Judul Article Terupdate -->
        <article class="box-container"><!-- box-container (3 buku 1 box-container) -->
          <div class="notif-home" style="padding:20px;border:none;">
            {% assign posts = site.posts | where_exp: 'page', "page.category == 'blog'" | sort: 'date','last' | reverse %}
            {% for post in posts limit: 1 %}
              <span style="font-size:14px;font-family:'Fira Sans Condensed','Ubuntu Condensed';font-weight:bold;">Blog Terbaru</span>
              <p><a href="{{ post.url }}">&plus; {{ post.title }}</a></p>
            {% endfor %}
            <div style="margin:10px 0 10px 0;border-bottom:1px dashed;"></div>
            {% assign posts = site.posts | where_exp: 'page', "page.category == 'note'" | sort: 'date','last' | reverse %}
            {% for post in posts limit: 1 %}
              <span style="font-size:14px;font-family:'Fira Sans Condensed','Ubuntu Condensed';font-weight:bold;">Note Terbaru</span>
              <p> <a href="{{ post.url }}">&plus; {{ post.title }}</a></p>

            {% endfor %}
          </div>
          <div class="notif-home" style="border:none;">
            <span style="font-size:14px;font-family:'Fira Sans Condensed','Ubuntu Condensed';font-weight:bold;">Diupdate</span>
            {% assign posts = site.posts | where_exp: 'post', 'post.last_modified_date' | sort: 'post.last_modified_date' %}
            {% for post in posts limit: 5 %}
              {% assign post_date = post.date | date: '%Y/%m/%d' %}
              {% assign post_last_modified_date = post.last_modified_date | date: '%Y/%m/%d' %}
              {% unless post_date == post_last_modified_date %}
                <p><a href="{{ post.url }}">&plus; {{ post.title }}</a></p>
              {% endunless %}
            {% endfor %}
          </div>
        </article>
      </article>
    </div>


    {% comment %}
    {% assign posts = site.posts | where_exp: 'post', 'post.last_modified_date' | sort: 'post.last_modified_date', 'last'%}
    {% for post in posts limit: 2 %}
      {% assign post_date = post.date | date: '%Y/%m/%d' %}
      {% assign post_last_modified_date = post.last_modified_date | date: '%Y/%m/%d' %}
      {% unless post_date == post_last_modified_date %}
        <p>{{ post | inspect }}</p>
      {% endunless %}
    {% endfor %}
    {% endcomment %}

    {% comment %}
    <div class="container-edge-border">

      {% if site.newsline %}
        {% include newsline.html %}
      {% endif %}

      <article class="homepage">
        <div class="post-body">

          <h1 style="text-align:center;font:50px 'Give You Glory';margin-top:10px;"><b>Hello, <span class="nobr">Mas Bro !</span></b></h1>

          <div style="margin:auto;display:flex;align-items:center;justify-content:center;">
            <p><img style="width:80%; border-radius:50%;" src="/assets/img/logo/logo_author.png" alt=""></p>
          </div>

          <p style="margin:auto;padding:10px;font-size:30px;font-family:'Fira Sans Condensed','Ubuntu Condensed';">Selamat datang <span class="nobr">di <a href="/blog/">blog</a> saya =)</span></p>

          <style scoped>
            .whatis-bandithijo { margin: auto; width: 60%;}
            @media (max-width: 768px) { .whatis-bandithijo { width: 85%; } }
          </style>
          <div class="whatis-bandithijo">
            <p style="font-size:16px;font-weight:normal;">Blog pribadi yang dibangun dan dikembangkan oleh <span class="nobr"><b>Rizqi Nur Assyaufi</b>.</span> Sebagian besar artikel blog ini berisi catatan hasil bereksplorasi dalam menggunakan sistem operasi <span class="nobr"><b>GNU/Linux</b> & <b>FreeBSD</b></span>.</p>
          </div>

        </div>
      </article><!-- homepage -->

      <article class="homepage">
        <div class="notif-home">
          <!-- Judul Blog Terbaru -->
          <span style="font-size:16px;font-family:'Fira Sans Condensed','Ubuntu Condensed';font-weight:bold;">Judul Blog Terbaru :</span>
          <div style="margin:10px 0 10px 0;border-bottom:1px dashed #000;"></div>
          {% assign posts = site.posts | where_exp:"page", "page.category == 'blog'" %}
          {% for post in posts limit: 5 %}
            {% if post.hot %}
              <p><a href="{{ post.url }}"><span style="font-family:'Fira Code'">{{ post.date | date: '%y/%m/%d' }}</span>: {{ post.title }}</a>&nbsp;<span class="new">HOT</span></p>
            {% else %}
              <p><a href="{{ post.url }}"><span style="font-family:'Fira Code'">{{ post.date | date: '%y/%m/%d' }}</span>: {{ post.title }}</a></p>
            {% endif %}
          {% endfor %}
          <div style="margin:10px 0 10px 0;"></div>
          <p style="text-align:left;"><a style="border-bottom:0;" href="/blog/"><span class="tombol-a"><b>Selengkapnya >></b></span></a></p>
          <!-- END Judul Blog Terbaru -->
        </div>

        <div class="notif-home">
          <!-- Judul Vlog Terbaru -->
          <span style="font-size:16px;font-family:'Fira Sans Condensed','Ubuntu Condensed';font-weight:bold;">Judul Vlog Terbaru :</span>
          <div style="margin:10px 0 10px 0;border-bottom:1px dashed #000;"></div>
          {% assign posts = site.posts | where_exp:"page", "page.category == 'vlog'" %}
          {% for post in posts limit: 5 %}
            <p><a href="{{ post.url }}"><span style="font-family:'Fira Code'">{{ post.date | date: '%y/%m/%d' }}</span>: {{ post.title }}</a></p>
          {% endfor %}
          <div style="margin:10px 0 10px 0;"></div>
          <p style="text-align:left;"><a style="border-bottom:0;" href="/vlog/"><span class="tombol-a"><b>Selengkapnya >></b></span></a></p>
          <!-- END Judul Vlog Terbaru -->
        </div>

        <div class="notif-home">
          <!-- Blog Feature Update -->
          <span style="font-size:16px;font-family:'Fira Sans Condensed','Ubuntu Condensed';font-weight:bold;">Fitur Blog Terbaru :</span>
          <div style="margin:10px 0 10px 0;border-bottom:1px dashed #000;"></div>
          {% for log in site.data.blog-features-update limit: 5 %}
            {% if log.url == nill %}
              <p><a href="" onclick="return false;"><span style="font-family:'Fira Code'">{{ log.tanggal }}</span>: {{ log.detail }}</a></p>
            {% else %}
              <p><a href="{{ log.url }}"><span style="font-family:'Fira Code'">{{ log.tanggal }}</span>: {{ log.detail }}</a></p>
            {% endif %}
          {% endfor %}
          <div style="margin:10px 0 10px 0;"></div>
          <p style="text-align:left;"><a style="border-bottom:0;" href="/blog-features-update/"><span class="tombol-a"><b>Selengkapnya >></b></span></a></p>
          <!-- END Blog Feature Update -->
        </div>
      </article><!-- homepage -->

      <div style="margin:20px;"></div>

      <article class="box-container">
        <div class="box">
          <a href="{{ site.url }}/blog/">
            <img class="box-img" src="{{ site.lazyload.logo_blank }}" data-echo="/assets/img/cards/card_blog.svg" alt="blog">
            <div class="box-text">
              <p style="font-size:20px;font-weight:bold;">Log: Blog</p>
              <div style="margin:5px 0;border-bottom:1px dashed #FFF;"></div>
              <p>Dokumentasi-dokumentasi proses belajar saya dalam bidang komputer dan teknologi yang sengaja dibuat sebagai catatan pribadi.</p>
            </div>
          </a>
        </div>

        <div class="box">
          <a href="{{ site.url }}/vlog/">
            <img class="box-img" src="{{ site.lazyload.logo_blank }}" data-echo="/assets/img/cards/card_vlog.svg" alt="vlog">
            <div class="box-text">
              <p style="font-size:20px;font-weight:bold;">Log: Vlog</p>
              <div style="margin:5px 0;border-bottom:1px dashed #FFF;"></div>
              <p>Video-video dokumentasi proses belajar saya dalam bidang komputer dan teknologi yang sengaja dibuat sebagai catatan pribadi.</p>
            </div>
          </a>
        </div>

        <div class="box">
          <a href="{{ site.url }}/book/">
            <img class="box-img" src="{{ site.lazyload.logo_blank }}" data-echo="/assets/img/cards/card_book.svg" alt="buku">
            <div class="box-text">
              <p style="font-size:20px;font-weight:bold;">Buku</p>
              <div style="margin:5px 0;border-bottom:1px dashed #FFF;"></div>
              <p> Apalah guna ilmu bila tidak bermanfaat bagi orang lain. Saya mencoba memberanikan menulis buku demi generasi yang akan datang.</p>
            </div>
          </a>
        </div>
      </article><!-- box-container -->

      <br>
    </div><!-- container-edge-border -->
    {% endcomment %}
  </div><!-- main container -->
</section><!-- main -->

<!-- Script pointing to search-script.js -->
<script src="/assets/js/search.js" type="text/javascript"></script>

<!-- Configuration -->
<script>
SimpleJekyllSearch({
  searchInput: document.getElementById('search-input'),
  resultsContainer: document.getElementById('results-container'),
  json: '/search.json'
})
</script>

