---
layout: baseof
permalink: :title
---

<!-- Header Start -->
<div class="flex flex-col pt-28 select-none">
  <!-- Hero Section Start -->
  <section id="home">
    <div class="container md:px-20">
      <div class="flex flex-wrap">
        <!-- Hero Section Left Start -->
        <div class="w-full self-end px-4 lg:w-1/2">
          <h1 class="text-6xl text-left font-bold mt-20 mb-6">Hi, I’m Rizqi —<br>Software Engineer & Linux Enthusiast.</h1>
          <p class="mb-4">
          My journey kicks off from reading textbooks as a <span class="font-bold">former Medical Student</span> to digging bugs as a <span class="font-bold ">Software Engineer</span>—a delightful rollercoaster of career twists.</p>
          <p class="mb-4">Embracing failure, I've seamlessly transitioned from <span class="font-bold">Stethoscope to Keyboard</span>. Armed with ability for <span class="font-bold">learning and adapting faster than a Heart Beat</span>.</p>
          <p class="mb-8">I'm on a mission to turn Code into a Product.</p>
          <div class="flex justify-center lg:justify-start mb-10">
            <a href="/about" class="rounded-full bg-dark px-8 py-3 md:mb-20 text-base text-white font-semibold transition duration-300 ease-in-out hover:opacity-80 hover:shadow-lg">About Me</a>
          </div>
        </div>
        <!-- Hero Section Left End -->

        <!-- Hero Section Right Start -->
        <div class="w-full lg:w-1/2 flex items-center justify-center self-center mb-10">
          <div class="relative lg:right-0 bg-blend-screen">
            <img src="/assets/images/bandithijo.png" alt="bandithijo" class="relative z-10 mx-auto w-3/5 rounded-full">
          </div>
        </div>
        <!-- Hero Section Right End -->
      </div>
    </div>
  </section>
  <!-- Hero Section End -->
</div>
<!-- Header End -->
