---
layout: baseof
---

<section id="content" class="pt-36 pb-10">
  <div class="container px-0 md:max-w-7xl">
    <div class="px-4">
      <h1 class="text-3xl font-bold mb-6">
        {{ page.title }}
      </h1>

      <div class="markdown">
        {{ content }}
      </div>
    </div>
  </div>
</section>

<script>
document.addEventListener("DOMContentLoaded", () => {
  // Center paragraphs that start with "Gambar"
  document.querySelectorAll('.markdown p').forEach((p) => {
    if (p.textContent.trim().startsWith('Gambar')) {
      p.classList.add('text-center');
    }
  });
});
</script>
