<div class="sidebar-body">
  {% comment %} <h1 style="font-size:1.5em;border-bottom:1px dashed #9E9E9E;margin-bottom:5px;"> {% endcomment %}
  <h1 style="font-size:1.5em;border-bottom:1px dashed;margin-bottom:5px;">
    <img class="icon" src="/assets/img/logo/logo_dotfriends.svg">dotFriends
  </h1>
  <!-- untuk random dotfriends list sebanyak 8 -->
  {% assign friends = site.data.dotfriends.dotfriends.friends | sample: 5 %}
  {% unless friend.name contains 'Rizqi Nur Assyaufi' %}
    {% for friend in friends limit: 5 %}
        <p>+&nbsp;<a href="{{ friend.url1 }}" target="_blank">{{ friend.display_name }}</a></p>
    {% endfor %}
  {% endunless %}
  <p style="font-size:10px;margin-top:12px;text-align:left;">*5 daftar blog di atas digenerate secara random</p>
  {% comment %} <div style="margin:10px 0 10px 0;border-bottom:1px dashed #9E9E9E;"></div> {% endcomment %}
  <div style="margin:10px 0 10px 0;border-bottom:1px dashed;"></div>
  <p style="text-align:left;"><a style="border-bottom:0;" href="/dotfriends/"><b>Selengkapnya >></b></a></p>
</div>
